// Typography.scss
@import 'mixins';

.main-btn {
	/* Rectangle 8: */
	background-image: linear-gradient(89deg, #F7941E 0%, #D52763 100%);
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	font-family: $london;
	font-size: em(18);
	padding: 15px 25px;
	display: inline-block;

	&:hover, &:active, &:focus {
		color: #fff;
	}
}


@media screen and (max-width: 480px) {
	.main-btn {
	    font-size: 1em;
	    padding: 10px 15px;
	}
}