// form.scss

@import 'mixins';

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-family: $paris;
	border: 1px solid #afafaf;
	box-shadow: none;
	border-radius: 2px;
	margin-bottom: 20px;

	&:focus {
		box-shadow: none;
	}
}

textarea {
	min-height: 200px;
}