// Mixins

// Variables
$light-blue: #42A5F5;
$green: #7ED321;
$pink: #E5326F;
$purple: #4B20B0;

// Function to convert from px to em 
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition ($which, $time, $beizer) {
	-webkit-transition: $which $time $beizer;
	-moz-transition: $which $time $beizer;
	-o-transition: $which $time $beizer;
	-ms-transition: $which $time $beizer;
	transition: $which $time $beizer;
}
