// Typography.scss
@font-face {
    font-family: 'ChaletLondonNineteenSixty';
    src: url('../fonts/ChaletLondonNineteenSixty.eot');
    src: url('../fonts/ChaletLondonNineteenSixty.eot') format('embedded-opentype'),
         url('../fonts/ChaletLondonNineteenSixty.woff2') format('woff2'),
         url('../fonts/ChaletLondonNineteenSixty.woff') format('woff'),
         url('../fonts/ChaletLondonNineteenSixty.ttf') format('truetype'),
         url('../fonts/ChaletLondonNineteenSixty.svg#ChaletLondonNineteenSixty') format('svg');
}

@font-face {
    font-family: 'ChaletParisNineteenSixty_10023';
    src: url('../fonts/ChaletParisNineteenSixty_10023.eot');
    src: url('../fonts/ChaletParisNineteenSixty_10023.eot') format('embedded-opentype'),
         url('../fonts/ChaletParisNineteenSixty_10023.woff2') format('woff2'),
         url('../fonts/ChaletParisNineteenSixty_10023.woff') format('woff'),
         url('../fonts/ChaletParisNineteenSixty_10023.ttf') format('truetype'),
         url('../fonts/ChaletParisNineteenSixty_10023.svg#ChaletParisNineteenSixty_10023') format('svg');
}


$london: 'ChaletLondonNineteenSixty', sans-serif;
$paris: 'ChaletParisNineteenSixty_10023', sans-serif;


// Function to convert from px to em 
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h1,h2,h3,h4,h5 {
	font-family: $london;
	font-weight: 600;
}

h1 {
	font-size: em(48);
}

h2 {
	font-size: em(36);
}

h3 {
	font-size: em(24);
}

h4 {
	font-size: em(18);
}