@import 'typography';
@import 'buttons';
@import 'form';
@import 'mixins';
@import 'general';

body {
	font-family: $paris;
}

body.open-acct {
	background: url(../img/person-731250_1920.jpg);
	background-color: #222;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

p {
	margin-bottom: 0;
}

span.error {
	margin-top: -10px;
	display: block;
	font-size: 12px;
	margin-bottom: 20px;
	color: rgb(255, 48, 65);
}

.empty-booth {
	padding: 40px 0;

	p {
		margin-bottom: 20px;
	}

	img {
		margin-bottom: 15px;
	}

	a {
		padding: 15px 25px;
		background: #E5326F;
		border-radius: 2px;
		display: inline-block;
		color: #fff;
		font-size: 1em;
		font-weight: 600;
		font-family: "ChaletLondonNineteenSixty", sans-serif;

		i {
			margin-right: 10px;
		}
	}
}

.prize {
	text-align: center;

	p {
		font-family: $london;
		font-weight: 600;
		margin-top: 10px;


		span {
			font-family: $paris !important;
			display: block;
			margin-top: 5px;
			font-weight: normal !important;
			margin-bottom: 30px;
		}
	}

	h3 {
		text-align: center; 
		margin-bottom: 40px !important;
	}
}

.divider-breaker {
	width: 100px;
	height: 2px;
	margin: 50px auto 10px;
	background: $purple;
}


.header {
	background: url(../img/header-bg.jpg);
	background-position: center center;
	background-size: cover;
	padding: 50px 0 150px;

	.nav {
		text-align: right;
		margin-top: 10px;

		a {
			color: #fff;
			font-weight: 600;
			margin-left: 20px;
			font-size: em(16);
			font-family: $london;
			padding: 12px 25px;
			border: 1px solid #fff;
			border-radius: 3px;
			text-transform: uppercase;

			&:hover {
				color: rgba(217, 229, 192, 0.84);
				border: 1px solid rgba(217, 229, 192, 0.84);
			}
		}
	}
}

.download-bg {
	background: url(../img/car.jpg) no-repeat;
	background-position: top right;
	background-size: cover;
	padding: 50px 0;

	ul.social {
		text-align: right;
		
		li {
			display: inline-block;
			margin-left: 15px;

			a {
				color: #fff;
			}
		}
		
	}
}

.show-tab {
	// display: none;
	margin-top: 20px;
}

.success-flash {
	padding: 100px 0;
}

.grey {
	background: #f8f8f8;
}

.success-modal {
	max-width: 400px;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 11px #c3c3c3;
	text-align: center;
	font-family: $london;

	.suc-top {
		background: #39a539;
		color: #fff;
		padding: 40px 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		img {
			margin-bottom: 10px;
		}

		p {
			font-size: em(16);
			text-transform: uppercase;
		}
	}

	.suc-bottom {
		padding: 40px 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;

		p {
			color: #444;
			font-size: em(18);
			margin-bottom: 20px;
		}
	}
}

.app-info {
	padding: 150px 0;

	h1 {
		color: #fff;
		line-height: 1.3;
		margin-top: 30px;
	}

	p {
		font-size: em(20);
		color: #fff;
		margin-top: 10px;
		margin-bottom: 40px;

		span {
			font-weight: 600;
			font-family: $london;
		}
	}

	a {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 28%;
		}
	}

	.app-shots {
		text-align: center;
	}
}

.form-body form {
	display: none;
}

.form-copy {
	padding: 100px 0 !important;
	text-align: center;
	border-bottom: none !important;

	h3 {
		font-size: em(48);
	}

	span {
			font-size: em(28);
			margin-top: 30px;
			display: block;
		}
}


.gist-send {
	border: none !important;
}

.how {
	margin-top: 150px;

	h1 {
		color: #fff;
		font-size: 4em;
		display: inline-block;
		line-height: 0.9;
		/* text-transform: uppercase; */
		background: #E5326F;
		padding: 20px 20px 10px;
		border-radius: 4px;
		margin-bottom: 20px
	}

	p {
		font-size: em(20);
		margin-bottom: 0;
		color: #fff;
		font-weight: 600;
	}

	a {
		margin-top: 30px;
	}
}


.flexxx-card {
	background: url(../img/card-bg.jpg);
	background-position: center center;
	background-size: cover;
	padding: 150px 0;

	h1 {
		color: #E5326F;
		text-transform: uppercase;
		margin-top: 50px;
	}

	p {
		color: #232323;
		font-size: em(24);
		font-weight: 600;
	}

	ul {
		margin-top: 10px;

		li {
			margin-bottom: 5px;
			font-family: $paris;
			font-size: em(18);

			i {
				margin-right: 10px;
			}
		}
	}
}



.card {
	margin-left: 0px;
}


.flexxx-app {
	/* Rectangle 10: */
	opacity: 0.89;
	background-image: linear-gradient(135deg, #4B20B0 0%, rgba(102,44,130,0.92) 39%, rgba(123,35,116,0.75) 67%, #A68257 100%);
	padding: 100px 0 0;

	
	h1 {
		color: #F7941E;
		text-transform: uppercase;
		margin-top: 50px;
	}

	p {
		color: #fff;
		font-size: em(18);
		font-weight: 600;
	}

	ul {
		margin-top: 10px;
		margin-bottom: 15px;

		li {
			margin-bottom: 5px;
			font-family: $paris;
			font-size: em(18);
			color: #fff;

			i {
				margin-right: 10px;
			}
		}
	}

	.iphone {
		text-align: right;
	}
}

ul.stores {
	margin-top: 20px;
	li {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}


.freebies {
	background: url(../img/freebies-bg.jpg);
	background-position: left center;
	background-size: cover;
	padding: 100px 0;

	h1 {
		color: #C6C6C6;
		text-transform: uppercase;
		margin-top: 80px;
	}

	p {
		color: #c6c6c6;
		font-weight: 600;
		font-size: em(18);
		margin-bottom: 30px;
	}

	a {
		margin-bottom: 80px;
	}
}

.footer {
	background: #4B3783;
	padding: 20px 0;
	font-family: $london;

	p {
		margin: 0;
		color: #fff;
		font-size: em(14);
		
	}

	.footer-links {
		text-align: center;

		a { 
			display: inline-block;
			font-size: em(14);
			display: inline-block;
			margin: 0 10px;
			color: #fff;
		}
	}

	.social {
		text-align: right;

		ul {
			li {
				display: inline-block;
				margin-left: 15px;

				a {
					color: #fff;
				}
			}
		}
	}
}

.top-head {
	padding: 20px 0;
	/* Rectangle 37: */
	opacity: 0.89;
	background-image: linear-gradient(115deg, #4B20B0 0%, rgba(102,44,130,0.92) 39%, rgba(123,35,116,0.75) 67%, #A68257 100%);

	.nav {
		text-align: right;
		margin-top: 9px;

		a {
			color: #fff;
			font-weight: 600;
			font-size: em(16);
			font-family: $london;
			text-transform: uppercase;
			padding: 10px 25px;
		    border: 2px solid #fff;
		    border-radius: 3px;
		}
	}
}

.form-body {
	background: #fff;
	padding-bottom: 100px;
}

.form-copy {
      color: #444;
    padding: 30px 0 20px;
    border-bottom: 1px dotted #666;
    margin-bottom: 30px;

    span {
    	font-family: $london;
    }
}

.form-bd-color {
	label {
		margin-bottom: 5px;
		font-family: $london;
		font-weight: 600;
		color: #444;
	}
}

.pick {
	label {
		font-weight: normal;
		font-family: $paris;
		color: #444;
	}
}

.captcha {
	margin-top: 20px;
	font-weight: 600;
	font-family: $london;
	color: #444;
	border-bottom: 1px dotted #666;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.file {
    position: relative;
    display: block;
    height: 44px;
    margin-bottom: 30px;
    margin-top: 0px;
    border: 1px solid #afafaf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;

    input {
	    position: absolute;
	    right: 0;
	    right: 0;
	    width: 100%;
	    height: 34px;
	    opacity: 0;
	    color: #fff;
	    -moz-opacity: 0;
	    filter: alpha(opacity=0);
	    appearance: none;
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    z-index: 30;
	}

	.value {
	    position: absolute;
	    top: 11px;
    	left: 230px;
	    color: #444;
	    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 130px;
		display: block;
	    font-family: $london;
	    z-index: 10;
	}

	.bt-value {
	    position: absolute;
	    top: 6px;
	    left: 5px;
	    color: #fff !important;
	    text-transform: none !important;
	    z-index: 10;
	}

	.btn {
	    padding: 5px 15px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	    border-radius: 2px;
	    font-size: 0.875em;
	}
}

.torq-btn, .pink-btn {
    border-radius: 2px;
    background-color: #4B3783;
    color: #fff;
    font-family: $london;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    font-weight: 500;
}

input[type="submit"] {
	border: none;
	padding: 10px 15px;
	border-radius: 2px;
	text-transform: capitalize;
	font-size: em(16);

}

.flexx-intro {
	padding: 50px 0;

	h1 {
		color: #f8f8f8;
		margin: 100px 0;
	}
}

.about-flexx {
	padding: 100px 0;
	background: #f8f8f8;
	position: relative;

	img {
		position: absolute;
		bottom: 0;
		width: 26%;
	}

	h3 {
		text-transform: uppercase;
		color: #D52763;
		margin-bottom: 30px;

		span {
			display: block;
			width: 50px;
			height: 4px;
			margin-top: 5px;
			background: #D52763;
		}
	}

	p {
		color: #2c2c2c;
		font-size: em(18);
		line-height: 1.6;
		margin-bottom: 20px;
	}

	ul {
		margin-bottom: 40px;
	}

	i {
		margin-right: 20px;
		    color: #f38825;
	}
}

.perks {
	background: #d9e1e3;
	padding: 100px 0;

	h4 {
		text-transform: uppercase;
		color: #D52763;
		margin-bottom: 30px;

		span {
			display: block;
			width: 50px;
			height: 4px;
			margin-top: 5px;
			background: #D52763;
		}
	}

	ul {
		li {
			margin-left: 25px;
			margin-bottom: 6px;

			&:before {
			    content: "";
			    display: inline-block;
			    background-image: url(../img/check.svg);
			    height: 14px;
			    width:16px;
			    position: absolute;
			    margin-left: -25px;
    			margin-top: 4px;
			}
		}
	}
}

.open-now {
	background: url(../img/open-now.jpg);
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
	text-align: center;

	p {
		color: #fff;
		font-size: em(36);
		margin-bottom: 20px;
		font-family: $london;
	}
}

.faq {
	padding: 100px 0;
	

	.faq-box {
		background: #fff;
		// border: 1px solid #666;
		border-radius: 2px;
		max-width:960px;
		margin: 0 auto;
		padding-top: 20px;

		h3 {
			margin-bottom: 20px;
			color: #444;
		}
	}

	.ques-ans {
	    border-top: 1px solid #ccc;
	    padding: 15px 20px;



	    p {
	    	margin-bottom: 0;

	    	span {
	    		display: block;
	    		margin-bottom: 5px;
	    	}
	    }
	}

	.quest {
		font-weight: 600;
		cursor: pointer;
		margin-left: 27px;
	}

	.quest:before {
	    	display: inline-block;
	    	content: "";
	    	background-image: url(../img/plus.svg);
	    	width: 12px;
	    	height: 12px;
		    margin-left: -29px;
		    position: absolute;
		    margin-top: 3px;
	    	
	    }

	.answer {
		margin-top: 10px;
		margin-left: 25px;
		display: none;
	}
}

.acct-open-bg {
	padding: 0 !important;
	background: url(../img/car.jpg);
	background-color: #222;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.left-right-pad {
	width: 80%;
	margin: 0 auto;

	img {
		position: absolute;
		top: 0;
		margin-top: 50px;
	}

	h2 {
		margin-top: 50px;
	}
}

.open-acct-sect {
	color: #fff;
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-webkit-transition: ease .3s;
	transition: ease .3s;
	

	.left-sect, .right-sect {
		width: 50%;
		display: table-cell;
		vertical-align: middle;
		background:rgba(16, 16, 16, 0.44);
		padding: 100px 0;

		ul {
			margin-top: 20px;
			li {
				margin-bottom: 10px;
				&:before {
					content: "";
					display: inline-block;
					width:16px;
					height: 14px;
					margin-right: 15px;
					background-image: url(../img/check.svg);
				}
			}
		}

		.open-acct-form {
			width: 90%;
			margin: 0 auto;

			h2 {
				margin-bottom: 30px;
				// display: none;
				margin-left: 15px;
				border-bottom: 2px solid #ccc;
			}

			img {
				position: absolute;
				top: 0;
				margin-top: 50px;
				display: none;
			}
		}

		.form-field {
			label {
				color: #fff;
				margin-bottom: 5px;
				font-weight: 600;
			}

			input[type="text"],input[type="tel"],input[type="email"], select {
				background: transparent;
				border: none;
				border-bottom: 1px solid #ccc;
				padding: 5px 5px 5px 0;
				color: #fff;
				border-radius: 0;
				outline: none;

				&:focus {
					border-bottom: 2px solid #fff;
				}
			}

			input[type="file"] {
				padding-bottom: 16px;
				border-bottom: 1px solid #ccc;
			}


			input[type="submit"] {
				width: 100%;
				padding: 15px 0;
				margin-top: 20px;
			}
		}
	}

	.right-sect {
		background: rgba(0, 0, 0, 0.84);
	}
}



// Photos

.dark-header {
	background: rgba(11, 11, 11, 0.85);
	padding: 15px 0;

	ul {
		margin:0;
		padding: 0;
		text-align: right;
		margin-top: 10px;
		position: relative;

		li {
			display: inline-block;
			margin-left: 10px;
			position: relative;
			font-size: 14px;


			&:hover > ul {
				display:block
			}

			a {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 600;
				padding: 10px 20px;
				font-family: $london;
				font-size: em(14);

				&.dropdown:hover {
					border-bottom: none;
				}

				&:hover {
					color: $pink;
					border-bottom: 2px solid $pink;
				}

				&.active {
					color: $pink;
					border-bottom: 2px solid $pink;
				}

				&.rounded {
					border: 2px solid #ccc;
					border-radius: 3px;

					&:hover {
						border: 2px solid $pink !important;
					}
				}
			}
		}

		ul {
			display: none;
		    position: absolute;
		    top: 15px;
		    left: 0;
		    background: #2f2f2f;
		    padding: 0;
		    // height: 132px;
		    text-align: left;
		    padding-top: 22px;
		    width: 120px;

			a {
				line-height:120%;
				padding:10px 15px
			}



			li {
				padding: 10px 5px;
			    margin: 0;
			    width: 100%;

			    a:hover {
			    	color: #fff;
			    	border-bottom: none;
			    }

			    &:hover {
			    	background: #E5326F;
			    }
			}
		}
	}

	i {
		color: #fff;
		text-align: right;
	    font-size: 2.2em;
	    float: right;
	    margin-top: 11px;
	    margin-right: 20px;
	    cursor: pointer;
	    display: none;

	    &.active {
	    	color: #E5326F;
	    }
	}
}

.stages {
	    background: #2f2f2f;
	    display: none;
}

.mobile-header {
	background: #252525;
	display: none;

	a {
	    color: #fff;
	    display: block;
	    text-align: center;
	    padding: 15px 0;
	    border-bottom: 1px solid #424242;
	    font-weight: 600;
	    text-transform: uppercase;
	}
}

.photobox-ctn {
	width:23%;
	float: left;
	margin-right: 2.5%;

	&:nth-child(4n) {
		margin-right: 0;
	}
}

.submitPhoto {
	background: url(../img/photoImage.jpg);
	background-size: cover;
	background-position: center center;
	padding: 100px 0;

	h1 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		margin-bottom: 40px;
		text-shadow: 1px 1px 1px #ccc;
	}

	a {
		padding: 15px 25px;
		background: #E5326F;
		border-radius: 2px;
		display: inline-block;
		color: #fff;
		font-size: em(20);
		font-weight: 600;
		font-family: $london;

		i {
			margin-right: 10px;
		}
	}
}


.shots {
	padding: 80px 0;

	h2 {
		text-align: center;
		color: #444;
		text-transform: uppercase;
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;

	}

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
		float: left;
	}
}

.photobox {
	background: #464646;
	padding: 0px;
	border-radius: 2px;
	margin-bottom: 30px;
	cursor: pointer;

	.image {
		max-height: 170px;
		overflow: hidden;
		position: relative;
		background: #f8f8f8;
    	text-align: center;

		span {
			position: absolute;
			top:0;
			right: 0;
			display: inline-block;
			padding: 5px 10px;
			color: #fff;
			font-size: em(14);
			background: rgba(75, 32, 176, 0.76);

			&:hover {
				background: rgba(75, 32, 176, 1);
			}

			i {
				margin-right: 10px;
			}
		}
	}

	p {
		margin: 15px 0 5px;
		text-align: left;
		font-size: em(14);
		color: #fff;
		text-transform:capitalize;
		padding-left: 15px;
		font-weight: 600;
		font-family: $london;
	}

	span {
		display: inline-block;
		margin-left: 15px;
		font-weight: 600;
		color: #fff;
		margin-bottom: 15px;
	}
}

.field-warning {
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
	font-family: $london;
}


.paginate {
	margin-top: 80px;

	a {
		color: #fff;
		display: inline-block;
		background: #E5326F;
		font-weight: 600;
		padding: 10px 15px;
		margin: 0 5px;
	}
}


.sub-header {
	padding: 20px 0;
	background: #f2f2f2;
	margin-bottom: 50px;
	text-transform: uppercase;
	border-bottom: 1px solid #e7e7e7;

	p {
		color: #4B3783;
		font-size: em(24);
		font-weight: 600;
		font-family: $london;
	}
}

.big-image-ctn {
	max-height: 600px;
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
	background: #e8e8e8;

	img {
		max-width: 100%;
	}
}


.social-share {
	text-align: right;
	margin-top: 10px;
	font-size: em(24);
	font-weight: 600;

	i {
		margin-left: 15px;
	}
}

.bigShot {
	padding-bottom: 100px;

	input[type="text"] {
		width: 60%;
		float: left;
		height: inherit;
		padding: 13px 10px;
	} 

	input[type="submit"] {
		background: #E5326F;
		color: #fff;
		width: 35%;
		float: right;
		text-align: center;
		font-size: em(18);
		font-weight: 600;
		font-family: $london;line-height: 1.5;
	}
}

.vote-success {
    background: #5d9a47;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}


.photoSignUp {
	padding: 100px 0;

	h1 {
		text-align: center;
		margin-bottom: 40px;
		color: #444;
	}

	input[type="text"] {
		padding: 20px 10px;
		height: inherit;
		font-family: $london;
		font-size: em(18);
		margin-bottom: 20px;
		border: 1px solid #ccc;
	}

	input[type="submit"] {
		padding: 15px 25px;
		background: #E5326F;
		border-radius: 2px;
		display: inline-block;
		color: #fff;
		font-size: 1.25em;
		font-weight: 600;
		font-family: $london;
		margin-top: 40px;
	}

	.file {
		height: 60px;

		.bt-value {
			top: 2px;
			left: 2px;
		}

		.value {
			top: 19px;
		}

		.btn {
			padding: 16px 15px;
		}
	}
}


.toas {
	text-align: center;
	font-family: $london;
	color: #222;
	margin-top: 60px;
}

.field-error {
	border: 1px solid red;
	text-align: center;
	padding: 15px;
	font-size: em(16);
	font-weight: 600;
	font-family: $london;
	color: red;
	margin-bottom: 20px;
}

.field-success {
	border: 1px solid #5d9a47;
	text-align: center;
	padding: 15px;
	font-size: em(16);
	font-weight: 600;
	font-family: $london;
	color: #5d9a47;
	margin-bottom: 20px;
}


.success-box {
    border: 1px solid #ccc;
    border-radius: 2px;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    background: #f8f8f8;
    color: #444;
    font-weight: 600;

    p {
    	margin-bottom: 20px;
    	font-size: em(18);

    	i {
    		padding: 0 20px;
    		font-size: em(24);
    		margin-top: 20px;
    		margin-bottom: 30px;
    	}
    }

    a {

    }

    h3 {
    	margin: 20px 0;
    }

    img {
    	position: relative !important;
    	margin-bottom: 10px;
    	display: block !important;
    	margin-top: 0 !important;
    }


}

.participate {
	padding: 50px 0;
	background: #f8f8f8;
	margin-top: -50px;

	h2  {
		margin-bottom: 15px;
		color: #444;
		font-weight: 600;
	}

	h3  {
		margin-bottom:15px;
		color: #444;
		font-weight: 600;
		margin-top: 30px;

		// span {
		// 	display: block;
		// 	width: 60px;
		// 	height: 3px;
		// 	background-color: #444;
		// }
	}


	p {
		margin-bottom: 10px;
		font-size: em(16);
		line-height: 1.5;
		color: #444;
	}

	ul {
		margin: 0;
		margin-left: 24px;
		margin-bottom: 40px;

		li {
			margin-left: 5px;

			&:before {
				content: "";
				display: inline-block;
				background-image: url(../img/check.svg);
				height: 14px;
				width: 16px;
				position: absolute;
				margin-left: -24px;
				margin-top: 2px;

			}

			p {
				span {
					font-weight: 600;
					font-family: $london;
				}
			}
		}
	}
}

.medals {
	margin-top: 50px;

	img {
		margin-bottom: 10px;
	}
}


.howto {
	padding: 50px 0;
	background: #2c2c2c;
	color: #fff;

	h3 {
		text-align: center;
		margin-bottom: 50px;
	}

	img {
		float: left;
		width: 15%;
	}

	p {
		float:left;
		width: 80%;
		margin-left: 10px;
		margin-top: -5px;
	}
}









// MEDIAQUERIES
@media screen and (max-width: 1024px) {
	.about-flexx {
		img {
			display: none;
		}
	}
}


@media screen and (max-width: 768px) {
	.flexxx-card {
		padding: 100px 0;

		h1 {
			margin-top: 20px;
		}
	}

	.card {
		margin-left: -30px;
	}

	.flexxx-app {
		h1 {
			margin-top: 20px;
		}
	}

	.freebies {
		text-align: center;
	}

	.app-info {
		padding: 80px 0 50px;

		h1 {
			text-align: center;
			padding: 0 30px;
		}

		p {
			text-align: center;
			padding: 0 30px;
		}

		a {
			img {
				width: 25%;
			}
		}

		.app-shots {
			text-align: center;
		}
	}

	.store-links {
		display: none;
	}

	.show-tab {
		display: block;
		margin-top: 40px;
	}

	.about-flexx {

		img {
			display: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
	    padding: 20px 0 100px;
	}
	
	.how {
	    margin-top: 90px;
    	text-align: center;


	    h1 {
		    font-size: 2em;
		    padding: 20px 20px 10px;
		}

		p {
		    font-size: 1em;
		
		}
	}

	

	.flexxx-card, .flexxx-app, .freebies  {
		text-align: center;
		padding: 70px 0;

		h1 {
		    font-size: 2em;
		    margin-top: 20px;
		}

		p {
		    font-size: 1em;
		}

		ul {
			li {
				font-size: 1em;
			}
		}
	}

	.flexxx-app  {
		padding: 70px 0 0;
		.iphone {
		    text-align: center;
		    width: 75%;
		    margin: 50px auto 0;
		}
	}

	.card {
		margin-left: 0;
	}

	.freebies {
	    background-position: center left;
	    background-size: cover;
	    padding: 70px 0;

	    h1 {
	    	margin-top: 50px;
	    }
	}

	.footer {
		p {
			text-align: center;
		}

		.footer-links {
			margin-top: 20px;
		}

		.social {
			text-align: center;
			margin-top: 20px;
		}
	}

	.open-acct-btn-ctn {
	    text-align: center;
	    margin-bottom: 100px;
	}

	.flexx-intro h1 {
	    margin: 100px 0 0px;
	}

	.left-right-pad {
		width: 95%;

		h2 {
			font-size: 2em;
		}
	}

	.dark-header {
		ul {
			display: none;
		}

		i {
			display: block;
		}
	}

	.social-share {
   	 text-align: left;
   	}

   	.bigShot {
   		input[type="text"] {
      		width: 63%;
      	}
    }

    .photobox-ctn {
		width:32%;
		float: left;
		margin-right: 2%;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(4n) {
		    margin-right: 2%;
		}
	}

	.submitPhoto {
		padding: 70px 0;

		h1 {
			font-size: 2.5em;
		}
	}

	.participate {
		padding: 20px 0;
	}


}

@media screen and (max-width: 640px) {
	.left-sect {
		display: none !important;
	}

	.open-acct-sect .right-sect {
		width: initial;
		padding: 50px 0;
	}

	.open-acct-form {
		h2 {
			font-size: 1.5em;
			display: block !important;
			margin-top: 75px;
			margin-left: 10px !important;
		}

		img {
			display: block !important;
			margin-top: 30px !important;
			width: 45%;
		}
	}

	.step-2 {
		margin-top: 0px;
	}

	.right-sect {
		background: rgba(0, 0, 0, 0.64) !important;
	}

	.success-box {
		margin-top: 0px;

		img {
		    position: relative !important;
		    margin-bottom: 10px;
		    display: block !important;
		    margin-top: 0 !important;
		    width: initial !important;
		}
	}

	.howto {
		text-align: center;

		img, p {
			float: none;
		}

		img {
			width: 10%;
			margin-bottom: 15px;
		}

		p {
			width: 100%;
			margin-bottom: 40px;
		}
	}

}


@media screen and (max-width: 600px) {
	.photobox-ctn {
		width:48%;
		float: left;
		margin-right: 2%;

		&:nth-child(2n) {
			margin-right: 0;
		}

	}
	
}

@media screen and (max-width: 480px) {
	.app-info {
		padding: 40px 0;

		h1 {
		    padding: 0 13px;
		    line-height: 1.4;
		    font-size: 1.5rem;
		}

		a {
			img {
				width: 28%;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		p {
		    padding: 0 10px;
		    font-size: 1em;
		}
	}



	.store-links {
		margin-top: 20px;
	}

	.download-bg {
		padding-top: 20px;
		background-position: center center; 
	}

	.success-modal {
		width: 85%;
	}

	.perks {
		padding: 50px 0;

		ul {
			margin-bottom: 40px;
		}
	}

	.about-flexx {
		padding: 50px 0;
	}

	.flexx-intro h1 {
		font-size: 2em;
	    margin: 70px 0 0;
	}

	.about-flexx p {
    	font-size: 1em;
    }

    .open-now {
    	padding: 40px 0;

    	p {
    		font-size: 1.5em;
    	}
    }

    .flexx-intro {
	    padding: 20px 0 50px !important;
	}

	.dark-header i {
    	margin-top: 4px;
    }

    .photoSignUp {
		padding: 50px 0;

		h1 {
			font-size:2em;
		}
	}

	.photobox-ctn {
		width:48%;
		float: left;
		margin-right: 2%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(3n) {
			margin-right: 2%;
		}

	}

	.submitPhoto {
		padding: 50px 0;

		h1 {
			font-size: 2em;
		}
	}

	
}

@media screen and (max-width: 380px) {
	.photobox-ctn {
		width:90%;
		float: none;
		margin-right: 0%;
		margin: 0 auto;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(3n) {
			margin-right: 2%;
		}

	}
}




