@font-face {
  font-family: 'ChaletLondonNineteenSixty';
  src: url("../fonts/ChaletLondonNineteenSixty.eot");
  src: url("../fonts/ChaletLondonNineteenSixty.eot") format("embedded-opentype"), url("../fonts/ChaletLondonNineteenSixty.woff2") format("woff2"), url("../fonts/ChaletLondonNineteenSixty.woff") format("woff"), url("../fonts/ChaletLondonNineteenSixty.ttf") format("truetype"), url("../fonts/ChaletLondonNineteenSixty.svg#ChaletLondonNineteenSixty") format("svg");
}

@font-face {
  font-family: 'ChaletParisNineteenSixty_10023';
  src: url("../fonts/ChaletParisNineteenSixty_10023.eot");
  src: url("../fonts/ChaletParisNineteenSixty_10023.eot") format("embedded-opentype"), url("../fonts/ChaletParisNineteenSixty_10023.woff2") format("woff2"), url("../fonts/ChaletParisNineteenSixty_10023.woff") format("woff"), url("../fonts/ChaletParisNineteenSixty_10023.ttf") format("truetype"), url("../fonts/ChaletParisNineteenSixty_10023.svg#ChaletParisNineteenSixty_10023") format("svg");
}

h1, h2, h3, h4, h5 {
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

.main-btn {
  /* Rectangle 8: */
  background-image: linear-gradient(89deg, #F7941E 0%, #D52763 100%);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  font-size: 1.125em;
  padding: 15px 25px;
  display: inline-block;
}

.main-btn:hover, .main-btn:active, .main-btn:focus {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .main-btn {
    font-size: 1em;
    padding: 10px 15px;
  }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-family: "ChaletParisNineteenSixty_10023", sans-serif;
  border: 1px solid #afafaf;
  box-shadow: none;
  border-radius: 2px;
  margin-bottom: 20px;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
  box-shadow: none;
}

textarea {
  min-height: 200px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "ChaletParisNineteenSixty_10023", sans-serif;
}

body.open-acct {
  background: url(../img/person-731250_1920.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

p {
  margin-bottom: 0;
}

span.error {
  margin-top: -10px;
  display: block;
  font-size: 12px;
  margin-bottom: 20px;
  color: #ff3041;
}

.header {
  background: url(../img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding: 50px 0 150px;
}

.header .nav {
  text-align: right;
  margin-top: 10px;
}

.header .nav a {
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
  font-size: 1em;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  padding: 12px 25px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-transform: uppercase;
}

.header .nav a:hover {
  color: rgba(217, 229, 192, 0.84);
  border: 1px solid rgba(217, 229, 192, 0.84);
}

.download-bg {
  background: url(../img/car.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 50px 0;
}

.download-bg ul.social {
  text-align: right;
}

.download-bg ul.social li {
  display: inline-block;
  margin-left: 15px;
}

.download-bg ul.social li a {
  color: #fff;
}

.show-tab {
  margin-top: 20px;
}

.success-flash {
  padding: 100px 0;
}

.grey {
  background: #f8f8f8;
}

.success-modal {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 11px #c3c3c3;
  text-align: center;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.success-modal .suc-top {
  background: #39a539;
  color: #fff;
  padding: 40px 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.success-modal .suc-top img {
  margin-bottom: 10px;
}

.success-modal .suc-top p {
  font-size: 1em;
  text-transform: uppercase;
}

.success-modal .suc-bottom {
  padding: 40px 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.success-modal .suc-bottom p {
  color: #444;
  font-size: 1.125em;
  margin-bottom: 20px;
}

.app-info {
  padding: 150px 0;
}

.app-info h1 {
  color: #fff;
  line-height: 1.3;
  margin-top: 30px;
}

.app-info p {
  font-size: 1.25em;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 40px;
}

.app-info p span {
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.app-info a {
  margin-right: 15px;
}

.app-info a:last-child {
  margin-right: 0;
}

.app-info a img {
  width: 28%;
}

.app-info .app-shots {
  text-align: center;
}

.gist-send {
  border: none !important;
}

.how {
  margin-top: 150px;
}

.how h1 {
  color: #fff;
  font-size: 4em;
  display: inline-block;
  line-height: 0.9;
  /* text-transform: uppercase; */
  background: #E5326F;
  padding: 20px 20px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.how p {
  font-size: 1.25em;
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
}

.how a {
  margin-top: 30px;
}

.flexxx-card {
  background: url(../img/card-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding: 150px 0;
}

.flexxx-card h1 {
  color: #E5326F;
  text-transform: uppercase;
  margin-top: 50px;
}

.flexxx-card p {
  color: #232323;
  font-size: 1.5em;
  font-weight: 600;
}

.flexxx-card ul {
  margin-top: 10px;
}

.flexxx-card ul li {
  margin-bottom: 5px;
  font-family: "ChaletParisNineteenSixty_10023", sans-serif;
  font-size: 1.125em;
}

.flexxx-card ul li i {
  margin-right: 10px;
}

.card {
  margin-left: 0px;
}

.flexxx-app {
  /* Rectangle 10: */
  opacity: 0.89;
  background-image: linear-gradient(135deg, #4B20B0 0%, rgba(102, 44, 130, 0.92) 39%, rgba(123, 35, 116, 0.75) 67%, #A68257 100%);
  padding: 100px 0 0;
}

.flexxx-app h1 {
  color: #F7941E;
  text-transform: uppercase;
  margin-top: 50px;
}

.flexxx-app p {
  color: #fff;
  font-size: 1.125em;
  font-weight: 600;
}

.flexxx-app ul {
  margin-top: 10px;
  margin-bottom: 15px;
}

.flexxx-app ul li {
  margin-bottom: 5px;
  font-family: "ChaletParisNineteenSixty_10023", sans-serif;
  font-size: 1.125em;
  color: #fff;
}

.flexxx-app ul li i {
  margin-right: 10px;
}

.flexxx-app .iphone {
  text-align: right;
}

ul.stores {
  margin-top: 20px;
}

ul.stores li {
  display: inline-block;
  margin-right: 10px;
}

ul.stores li:last-child {
  margin-right: 0;
}

.freebies {
  background: url(../img/freebies-bg.jpg);
  background-position: left center;
  background-size: cover;
  padding: 100px 0;
}

.freebies h1 {
  color: #C6C6C6;
  text-transform: uppercase;
  margin-top: 80px;
}

.freebies p {
  color: #c6c6c6;
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 30px;
}

.freebies a {
  margin-bottom: 80px;
}

.footer {
  background: #4B3783;
  padding: 20px 0;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.footer p {
  margin: 0;
  color: #fff;
  font-size: 0.875em;
}

.footer .footer-links {
  text-align: center;
}

.footer .footer-links a {
  display: inline-block;
  font-size: 0.875em;
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.footer .social {
  text-align: right;
}

.footer .social ul li {
  display: inline-block;
  margin-left: 15px;
}

.footer .social ul li a {
  color: #fff;
}

.top-head {
  padding: 20px 0;
  /* Rectangle 37: */
  opacity: 0.89;
  background-image: linear-gradient(115deg, #4B20B0 0%, rgba(102, 44, 130, 0.92) 39%, rgba(123, 35, 116, 0.75) 67%, #A68257 100%);
}

.top-head .nav {
  text-align: right;
  margin-top: 9px;
}

.top-head .nav a {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.form-body {
  background: #fff;
  padding-bottom: 100px;
}

.form-copy {
  color: #444;
  padding: 30px 0 20px;
  border-bottom: 1px dotted #666;
  margin-bottom: 30px;
}

.form-copy span {
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.form-bd-color label {
  margin-bottom: 5px;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  font-weight: 600;
  color: #444;
}

.pick label {
  font-weight: normal;
  font-family: "ChaletParisNineteenSixty_10023", sans-serif;
  color: #444;
}

.captcha {
  margin-top: 20px;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  color: #444;
  border-bottom: 1px dotted #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.file {
  position: relative;
  display: block;
  height: 44px;
  margin-bottom: 30px;
  margin-top: 0px;
  border: 1px solid #afafaf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.file input {
  position: absolute;
  right: 0;
  right: 0;
  width: 100%;
  height: 34px;
  opacity: 0;
  color: #fff;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 30;
}

.file .value {
  position: absolute;
  top: 11px;
  left: 117px;
  color: #444;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  z-index: 10;
}

.file .bt-value {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #fff !important;
  text-transform: none !important;
  z-index: 10;
}

.file .btn {
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.875em;
}

.torq-btn, .pink-btn {
  border-radius: 2px;
  background-color: #4B3783;
  color: #fff;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
  font-weight: 500;
}

input[type="submit"] {
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 1em;
}

.flexx-intro {
  padding: 50px 0;
}

.flexx-intro h1 {
  color: #f8f8f8;
  margin: 100px 0;
}

.about-flexx {
  padding: 100px 0;
  background: #f8f8f8;
}

.about-flexx h3 {
  text-transform: uppercase;
  color: #D52763;
  margin-bottom: 30px;
}

.about-flexx h3 span {
  display: block;
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background: #D52763;
}

.about-flexx p {
  color: #2c2c2c;
  font-size: 1.125em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-flexx ul {
  margin-bottom: 40px;
}

.about-flexx i {
  margin-right: 20px;
  color: #f38825;
}

.perks {
  background: #d9e1e3;
  padding: 100px 0;
}

.perks h4 {
  text-transform: uppercase;
  color: #D52763;
  margin-bottom: 30px;
}

.perks h4 span {
  display: block;
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background: #D52763;
}

.perks ul li {
  margin-left: 25px;
  margin-bottom: 6px;
}

.perks ul li:before {
  content: "";
  display: inline-block;
  background-image: url(../img/check.svg);
  height: 14px;
  width: 16px;
  position: absolute;
  margin-left: -25px;
  margin-top: 4px;
}

.open-now {
  background: url(../img/open-now.jpg);
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  text-align: center;
}

.open-now p {
  color: #fff;
  font-size: 2.25em;
  margin-bottom: 20px;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.faq {
  padding: 100px 0;
}

.faq .faq-box {
  background: #fff;
  border-radius: 2px;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}

.faq .faq-box h3 {
  margin-bottom: 20px;
  color: #444;
}

.faq .ques-ans {
  border-top: 1px solid #ccc;
  padding: 15px 20px;
}

.faq .ques-ans p {
  margin-bottom: 0;
}

.faq .ques-ans p span {
  display: block;
  margin-bottom: 5px;
}

.faq .quest {
  font-weight: 600;
  cursor: pointer;
  margin-left: 27px;
}

.faq .quest:before {
  display: inline-block;
  content: "";
  background-image: url(../img/plus.svg);
  width: 12px;
  height: 12px;
  margin-left: -29px;
  position: absolute;
  margin-top: 3px;
}

.faq .answer {
  margin-top: 10px;
  margin-left: 25px;
  display: none;
}

.acct-open-bg {
  padding: 0 !important;
  background: url(../img/car.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.left-right-pad {
  width: 80%;
  margin: 0 auto;
}

.left-right-pad img {
  position: absolute;
  top: 0;
  margin-top: 50px;
}

.left-right-pad h2 {
  margin-top: 50px;
}

.open-acct-sect {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  -moz-transition: ease .3s;
  -o-transition: ease .3s;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.open-acct-sect .left-sect, .open-acct-sect .right-sect {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  background: rgba(16, 16, 16, 0.44);
  padding: 100px 0;
}

.open-acct-sect .left-sect ul, .open-acct-sect .right-sect ul {
  margin-top: 20px;
}

.open-acct-sect .left-sect ul li, .open-acct-sect .right-sect ul li {
  margin-bottom: 10px;
}

.open-acct-sect .left-sect ul li:before, .open-acct-sect .right-sect ul li:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 15px;
  background-image: url(../img/check.svg);
}

.open-acct-sect .left-sect .open-acct-form, .open-acct-sect .right-sect .open-acct-form {
  width: 90%;
  margin: 0 auto;
}

.open-acct-sect .left-sect .open-acct-form h2, .open-acct-sect .right-sect .open-acct-form h2 {
  margin-bottom: 30px;
  margin-left: 15px;
  border-bottom: 2px solid #ccc;
}

.open-acct-sect .left-sect .open-acct-form img, .open-acct-sect .right-sect .open-acct-form img {
  position: absolute;
  top: 0;
  margin-top: 50px;
  display: none;
}

.open-acct-sect .left-sect .form-field label, .open-acct-sect .right-sect .form-field label {
  color: #fff;
  margin-bottom: 5px;
  font-weight: 600;
}

.open-acct-sect .left-sect .form-field input[type="text"], .open-acct-sect .left-sect .form-field input[type="tel"], .open-acct-sect .left-sect .form-field input[type="email"], .open-acct-sect .left-sect .form-field select, .open-acct-sect .right-sect .form-field input[type="text"], .open-acct-sect .right-sect .form-field input[type="tel"], .open-acct-sect .right-sect .form-field input[type="email"], .open-acct-sect .right-sect .form-field select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 5px 5px 0;
  color: #fff;
  border-radius: 0;
  outline: none;
}

.open-acct-sect .left-sect .form-field input[type="text"]:focus, .open-acct-sect .left-sect .form-field input[type="tel"]:focus, .open-acct-sect .left-sect .form-field input[type="email"]:focus, .open-acct-sect .left-sect .form-field select:focus, .open-acct-sect .right-sect .form-field input[type="text"]:focus, .open-acct-sect .right-sect .form-field input[type="tel"]:focus, .open-acct-sect .right-sect .form-field input[type="email"]:focus, .open-acct-sect .right-sect .form-field select:focus {
  border-bottom: 2px solid #fff;
}

.open-acct-sect .left-sect .form-field input[type="file"], .open-acct-sect .right-sect .form-field input[type="file"] {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.open-acct-sect .left-sect .form-field input[type="submit"], .open-acct-sect .right-sect .form-field input[type="submit"] {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
}

.open-acct-sect .right-sect {
  background: rgba(0, 0, 0, 0.84);
}

.dark-header {
  background: rgba(11, 11, 11, 0.85);
  padding: 20px 0;
}

.dark-header ul {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 10px;
}

.dark-header ul li {
  display: inline-block;
  margin-left: 10px;
}

.dark-header ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.dark-header ul li a.rounded {
  border: 2px solid #ccc;
  border-radius: 3px;
}

.dark-header i {
  color: #fff;
  text-align: right;
  font-size: 2.2em;
  float: right;
  margin-top: 11px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.dark-header i.active {
  color: #E5326F;
}

.mobile-header {
  background: #252525;
  display: none;
}

.mobile-header a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #424242;
  font-weight: 600;
  text-transform: uppercase;
}

.photobox-ctn {
  width: 23%;
  float: left;
  margin-right: 2.5%;
}

.photobox-ctn:nth-child(4n) {
  margin-right: 0;
}

.submitPhoto {
  background: url(../img/photoImage.jpg);
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

.submitPhoto h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px #ccc;
}

.submitPhoto a {
  padding: 15px 25px;
  background: #E5326F;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.submitPhoto a i {
  margin-right: 10px;
}

.shots {
  padding: 80px 0;
}

.shots h2 {
  text-align: center;
  color: #444;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.shots .column:last-child:not(:first-child), .shots .columns:last-child:not(:first-child) {
  float: left;
}

.photobox {
  background: #464646;
  padding: 0px;
  border-radius: 2px;
  margin-bottom: 30px;
  cursor: pointer;
}

.photobox .image {
  max-height: 170px;
  overflow: hidden;
  position: relative;
  background: #f8f8f8;
  text-align: center;
}

.photobox .image span {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.875em;
  background: rgba(75, 32, 176, 0.76);
}

.photobox .image span:hover {
  background: #4b20b0;
}

.photobox .image span i {
  margin-right: 10px;
}

.photobox p {
  margin: 15px 0 5px;
  text-align: left;
  font-size: 0.875em;
  color: #fff;
  text-transform: capitalize;
  padding-left: 15px;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
}

.photobox span {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.paginate {
  margin-top: 80px;
}

.paginate a {
  color: #fff;
  display: inline-block;
  background: #E5326F;
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 5px;
}

.sub-header {
  padding: 30px 0;
  background: #f2f2f2;
  margin-bottom: 50px;
}

.sub-header p {
  color: #4B3783;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  text-transform: capitalize;
}

.big-image-ctn {
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 30px;
}

.big-image-ctn img {
  max-width: 100%;
}

.social-share {
  text-align: right;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 600;
}

.social-share i {
  margin-left: 15px;
}

.bigShot {
  padding-bottom: 100px;
}

.bigShot input[type="text"] {
  width: 60%;
  float: left;
  height: inherit;
  padding: 13px 10px;
}

.bigShot input[type="submit"] {
  background: #E5326F;
  color: #fff;
  width: 35%;
  float: right;
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  line-height: 1.5;
}

.vote-success {
  background: #5d9a47;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.photoSignUp {
  padding: 100px 0;
}

.photoSignUp h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #444;
}

.photoSignUp input[type="text"] {
  padding: 20px 10px;
  height: inherit;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  font-size: 1.125em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.photoSignUp input[type="submit"] {
  padding: 15px 25px;
  background: #E5326F;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  margin-top: 40px;
}

.photoSignUp .file {
  height: 60px;
}

.photoSignUp .file .bt-value {
  top: 2px;
  left: 2px;
}

.photoSignUp .file .value {
  top: 19px;
}

.photoSignUp .file .btn {
  padding: 16px 15px;
}

.toas {
  text-align: center;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  color: #222;
  margin-top: 60px;
}

.field-error {
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-size: 1em;
  font-weight: 600;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  color: red;
  margin-bottom: 20px;
}

.success-box {
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  background: #f8f8f8;
  color: #444;
  font-weight: 600;
}

.success-box p {
  margin-bottom: 20px;
  font-size: 1.125em;
}

.success-box p i {
  padding: 0 20px;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.success-box h3 {
  margin: 20px 0;
}

.success-box img {
  position: relative !important;
  margin-bottom: 10px;
  display: block !important;
  margin-top: 0 !important;
}

@media screen and (max-width: 768px) {
  .flexxx-card {
    padding: 100px 0;
  }
  .flexxx-card h1 {
    margin-top: 20px;
  }
  .card {
    margin-left: -30px;
  }
  .flexxx-app h1 {
    margin-top: 20px;
  }
  .freebies {
    text-align: center;
  }
  .app-info {
    padding: 80px 0 50px;
  }
  .app-info h1 {
    text-align: center;
    padding: 0 30px;
  }
  .app-info p {
    text-align: center;
    padding: 0 30px;
  }
  .app-info a img {
    width: 25%;
  }
  .app-info .app-shots {
    text-align: center;
  }
  .store-links {
    display: none;
  }
  .show-tab {
    display: block;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0 100px;
  }
  .how {
    margin-top: 90px;
    text-align: center;
  }
  .how h1 {
    font-size: 2em;
    padding: 20px 20px 10px;
  }
  .how p {
    font-size: 1em;
  }
  .flexxx-card, .flexxx-app, .freebies {
    text-align: center;
    padding: 70px 0;
  }
  .flexxx-card h1, .flexxx-app h1, .freebies h1 {
    font-size: 2em;
    margin-top: 20px;
  }
  .flexxx-card p, .flexxx-app p, .freebies p {
    font-size: 1em;
  }
  .flexxx-card ul li, .flexxx-app ul li, .freebies ul li {
    font-size: 1em;
  }
  .flexxx-app {
    padding: 70px 0 0;
  }
  .flexxx-app .iphone {
    text-align: center;
    width: 75%;
    margin: 50px auto 0;
  }
  .card {
    margin-left: 0;
  }
  .freebies {
    background-position: center left;
    background-size: cover;
    padding: 70px 0;
  }
  .freebies h1 {
    margin-top: 50px;
  }
  .footer p {
    text-align: center;
  }
  .footer .footer-links {
    margin-top: 20px;
  }
  .footer .social {
    text-align: center;
    margin-top: 20px;
  }
  .open-acct-btn-ctn {
    text-align: center;
    margin-bottom: 100px;
  }
  .flexx-intro h1 {
    margin: 100px 0 0px;
  }
  .left-right-pad {
    width: 95%;
  }
  .left-right-pad h2 {
    font-size: 2em;
  }
  .dark-header ul {
    display: none;
  }
  .dark-header i {
    display: block;
  }
  .social-share {
    text-align: left;
  }
  .bigShot input[type="text"] {
    width: 63%;
  }
  .photobox-ctn {
    width: 32%;
    float: left;
    margin-right: 2%;
  }
  .photobox-ctn:nth-child(3n) {
    margin-right: 0;
  }
  .photobox-ctn:nth-child(4n) {
    margin-right: 2%;
  }
  .submitPhoto {
    padding: 70px 0;
  }
  .submitPhoto h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 640px) {
  .left-sect {
    display: none !important;
  }
  .open-acct-sect .right-sect {
    width: initial;
    padding: 50px 0;
  }
  .open-acct-form h2 {
    font-size: 1.5em;
    display: block !important;
    margin-top: 75px;
    margin-left: 10px !important;
  }
  .open-acct-form img {
    display: block !important;
    margin-top: 30px !important;
    width: 45%;
  }
  .step-2 {
    margin-top: 0px;
  }
  .right-sect {
    background: rgba(0, 0, 0, 0.64) !important;
  }
  .success-box {
    margin-top: 0px;
  }
  .success-box img {
    position: relative !important;
    margin-bottom: 10px;
    display: block !important;
    margin-top: 0 !important;
    width: initial !important;
  }
}

@media screen and (max-width: 600px) {
  .photobox-ctn {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .photobox-ctn:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .app-info {
    padding: 40px 0;
  }
  .app-info h1 {
    padding: 0 13px;
    line-height: 1.4;
    font-size: 1.5rem;
  }
  .app-info a img {
    width: 28%;
  }
  .app-info a:last-child {
    margin-right: 0;
  }
  .app-info p {
    padding: 0 10px;
    font-size: 1em;
  }
  .store-links {
    margin-top: 20px;
  }
  .download-bg {
    padding-top: 20px;
    background-position: center center;
  }
  .success-modal {
    width: 85%;
  }
  .perks {
    padding: 50px 0;
  }
  .perks ul {
    margin-bottom: 40px;
  }
  .about-flexx {
    padding: 50px 0;
  }
  .flexx-intro h1 {
    font-size: 2em;
    margin: 70px 0 0;
  }
  .about-flexx p {
    font-size: 1em;
  }
  .open-now {
    padding: 40px 0;
  }
  .open-now p {
    font-size: 1.5em;
  }
  .flexx-intro {
    padding: 20px 0 50px !important;
  }
  .dark-header i {
    margin-top: 4px;
  }
  .photoSignUp {
    padding: 50px 0;
  }
  .photoSignUp h1 {
    font-size: 2em;
  }
  .photobox-ctn {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .photobox-ctn:nth-child(2n) {
    margin-right: 0;
  }
  .photobox-ctn:nth-child(3n) {
    margin-right: 2%;
  }
  .submitPhoto {
    padding: 50px 0;
  }
  .submitPhoto h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 380px) {
  .photobox-ctn {
    width: 90%;
    float: none;
    margin-right: 0%;
    margin: 0 auto;
  }
  .photobox-ctn:nth-child(2n) {
    margin-right: 0;
  }
  .photobox-ctn:nth-child(3n) {
    margin-right: 2%;
  }
}
