@font-face {
    font-family: 'ChaletParisNineteenSixty_10023';
    src: url('fonts/ChaletParisNineteenSixty_10023.eot');
    src: url('fonts/ChaletParisNineteenSixty_10023.eot') format('embedded-opentype'),
         url('fonts/ChaletParisNineteenSixty_10023.woff2') format('woff2'),
         url('fonts/ChaletParisNineteenSixty_10023.woff') format('woff'),
         url('fonts/ChaletParisNineteenSixty_10023.ttf') format('truetype'),
         url('fonts/ChaletParisNineteenSixty_10023.svg#ChaletParisNineteenSixty_10023') format('svg');
}
