@font-face {
    font-family: 'ChaletLondonNineteenSixty';
    src: url('fonts/ChaletLondonNineteenSixty.eot');
    src: url('fonts/ChaletLondonNineteenSixty.eot') format('embedded-opentype'),
         url('fonts/ChaletLondonNineteenSixty.woff2') format('woff2'),
         url('fonts/ChaletLondonNineteenSixty.woff') format('woff'),
         url('fonts/ChaletLondonNineteenSixty.ttf') format('truetype'),
         url('fonts/ChaletLondonNineteenSixty.svg#ChaletLondonNineteenSixty') format('svg');
}
