<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlexxZone</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body class="grey">
        <div class="top-head">
            <div class="row">
                <div class="large-4 medium-4 small-6 columns">
                    <a href="http://flexxzone.fcmb.com"> <img src="img/logo.png" width="249" height="50"></a>
                </div>

                <div class="large-8 medium-8 small-6 columns nav">
                    <a href="http://flexxzone.fcmb.com/join/open-account.html">Get Flexx</a>
                </div>
            </div>
        </div>

        <div class="form-body">

            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="large-10 medium-12 small-12 columns">
                            <div class=form-copy>
                                <h3>Is something sizzling happening on your campus right now?</h3>
                                <span>Send a mail to <strong>flexxzone@fcmb.com</strong> or fill the form below:</span>
                            </div>
                        </div>
                    </div>


                    <!-- Success Message -->
                       {if !$errors && $smarty.post}
                        
                        <div class="row">
                        <div class="small-12 columns">
                            <p style="background: rgb(42, 128, 69);display: inline-block;color: #fff;border-radius: 2px;padding: 10px 20px;margin-bottom: 0;margin-bottom: 30px;font-weight: 600;">Your message has been sent.</p>
                        </div>
                    </div> 
		   {/if}
		     {if $errors && $smarty.post}
                        <div class="row">
                        <div class="small-12 columns">
                            <p style="background: #ec5840;display: inline-block;color: #fff;border-radius: 2px;padding: 10px 20px;margin-bottom: 0;margin-bottom: 30px;font-weight: 600;">{foreach from = $errors item = 'item'}{$item}<br/>{/foreach}</p>
                        </div>
                    </div> 
		   {/if}
                    <form method="post" enctype="multipart/form-data">
                        <div class="row form-bd-color">
                      
                            <div class="large-6 medium-8 small-12 columns">

                                <div class="row">
                                    <div class="large-6 medium-6 small-12 columns">
                                        <label>*First Name</label>
                                        <input type="text" placeholder="First Name" name="firstname" class = "form-input" value="{$smarty.post.firstname}">
                                        <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                    <div class="large-6 medium-6 small-12 columns">
                                        <label>*Last Name</label>
                                        <input type="text" placeholder="*Last Name" name="lastname" class = "form-input" value = "{$smarty.post.lastname}">
                                          <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <label>*Email</label>
                                        <input type="email" placeholder="*Email" name="email_address" class = "form-input" value = "{$smarty.post.email_address}">
                                          <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns" >
                                        <label>*Phone Number</label>
                                        <input type="tel" placeholder="Phone" name="mobile" class = "form-input" value="{$smarty.post.mobile}">
                                          <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <label>*Topic</label>
                                        <input type="text" placeholder="Topic" name="topic" class = "form-input" value = "{$smarty.post.topic}">
                                        <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <label>*What's the gist?</label>
                                        <textarea class = "form-input" name="gist">{$smarty.post.gist}</textarea>
                                        <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <label>Upload Image</label>
                                        <div class="file">
                                            <input type="file" name="firstfile" id="id_media1">
                                            <span class="value"></span>
                                            <span class="bt-value btn torq-btn">Upload File</span>
                                        </div>

                                        <div class="file">
                                            <input type="file" name="secondfile" id="id_media1">
                                            <span class="value"></span>
                                            <span class="bt-value btn torq-btn">Upload File</span>
                                        </div>

                                        <div class="file">
                                            <input type="file" name="thirdfile" id="id_media1">
                                            <span class="value"></span>
                                            <span class="bt-value btn torq-btn">Upload File</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <label>What type of gist is this?</label>
                                        <div class="pick">
                                            <div>
                                                <input id="checkbox1" type="checkbox" {if $smarty.post.gist_type_exclusive}checked = "checked"{/if} name = "gist_type_exclusive" value="1"><label for="checkbox1">Exclusive Story</label>
                                            </div>
                                            <div>
                                                <input id="checkbox2" type="checkbox" name="gist_type_rumor" {if $smarty.post.gist_type_rumor}checked = "checked"{/if}  value="2"><label for="checkbox2">Rumors</label></div>
                                            <div><input id="checkbox3" type="checkbox" name="gist_type_opinion" {if $smarty.post.gist_type_opinion}checked = "checked"{/if} value="3"><label for="checkbox3">Opinions</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-10 medium-12 small-12 columns">

                                <div class="row">
                                    <div class="small-12 columns">
                                        <div class="captcha">Verification</div>
                                        <label><strong> 1 + 1 </strong></label>
                                        <input type="text"  name="verification" class = "form-input" style="width:250px;">
                                        <span class="error" style="display: none;">This field can't be empty</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 columns">
                                        <input type="submit" value="Submit" class="main-btn" name = "submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                         </form>
                         
                         <div class="row">
			    	<div class="small-12 columns">
			    		<div class="disclaimer" style="margin-left: 0px;color:#444;">
			    			<h4 style="margin-top:50px;"><strong>Disclaimer</strong></h4>
					   		 <p style="font-size: 14px; margin-top: 10px; font-weight: 600;">Campus Gist is a component of <a href="http://flexxzone.fcmb.com">flexxzone.fcmb.com</a>, a property of First City Monument Bank Limited (“FCMB”). By submitting your Campus Gist entry, you grant FCMB the right to review your content at its sole discretion, which may include editing or removing your content at any time without notice. You agree to the collection and use of information in accordance with this policy.</p>
					    </div>
					</div>
				</div>
                </div>
               
            </div>
        </div>
    </div>



    <div class="footer">
        <div class="row">
            <div class="large-4 medium-12 small-12 columns">
                <p>© 2016 FCMB. All Rights Reserved.</p>
            </div>
            <div class="large-4 medium-12 small-12 columns">
                <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Visit FCMB</a>
                </div>
            </div>
            <div class="large-4 medium-12 small-12 columns">  
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/fcmbmybank/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.twitter.com/myfcmb/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/myfcmb/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/user/fcmbplc" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
